<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" /> 
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

<!-- 	<root level="debug"> -->
<!-- 		<appender-ref ref="STDOUT" /> -->
<!-- 	</root> -->

	<logger name="org.protelis.test" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.protelis.test.infrastructure" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="ch.qos.logback.classic.joran" level="off"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="it.unibo.alchemist.loader" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="it.unibo.alchemist.core.implementations" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.reflection" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	

</configuration>